* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 800;
}

body {
  transition: all 0.5s ease;
  font-family: 'Karla';
  margin: 0;
  padding: 0;
  transition: .9s;
}

input{
  font-weight: 600;
}

:root {
  --black: #00000f;
  --dashboard-background: #EEEEEE;
  --secondary-black: #28282a;
  --white: #ffffff;
  --secondary-white: #8392a5;
  --gray: #697386;
  --blue: #28a6e5;
  --green: #66dd7d;
  --orange: #fdc83e;
  --red: #F72C5B;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}